.container {
  text-align: center;
  background-color: #f7f9fc;
  padding-top: 60px; 
}

.header-section {
  background-color: #16213e;
  color: #A8E6CF;
  padding: 20px;
}

.large-img {
  max-width: 100%; 
  height: auto; 
  margin-top: 20px;
}

.navbar {
  position: fixed;
  top: 0; 
  width: 100%;
  background-color: #16213e; 
  overflow: auto;
  padding: 10px 0; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar a {
  float: left; 
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; 
}


.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.section {
  margin: 50px;
  padding: 50px;
  background-color: #e8e8e8;
}

.weather-data{
  margin: 50px;
  padding: 50px;
  background-color: #e8e8e8;
}